<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title>Lista de Vuelos Disponibles</title>
</head>

<body>
	<h1>
		<center>
			<font color="red"> American Airlines </font>
		</center>
	</h1>
	<h6>
		<font color="purple"> <b> La lista de Vuelos Disponibles es: </b> </font>
	</h6>
	
	<table class = "table" style="width:70%" align="center">
		<thead>
			<tr>
				<th> <b> Número de Vuelo </b> </th>
				<th> <b> Origen </b> </th>
				<th> <b> Destino </b> </th>
				<th> <b> Nombre Avión </b> </th>
				<th> <b> Valor Asiento </b> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vuelo:${vuelos}">
				<td th:text="${vuelo.numeroVuelo}"></td>
				<td th:text="${vuelo.origen}"></td>
				<td th:text="${vuelo.destino}"></td>
				<td th:text="${vuelo.nombreAvion}"></td>
				<td th:text="${vuelo.valorAsiento}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>